<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="xmlRoute" value="E:\PlayAssociation\PlayerConfig.xml"/>
    <add key="errorLogPath" value="E:\PlayAssociation\Log\Error\"/>
    <add key="playLogPath" value="E:\PlayAssociation\Log\Play\"/>
  </appSettings>
</configuration>
